html(lang="ru")
    head
        include modules/meta
        link(rel="stylesheet", href="/public/css/style.css")
        link(rel="stylesheet", href="/public/css/modules/input.css")
        script(src="/public/js/main.js")
    body
        include modules/header
        main
            .main_inner
                aside.repositories_block
                    H3 Репозитории:
                    if !repositories || !repositories.length
                        p тут ничего нет
                    else 
                        -for(let i = 0; i < repositories.length; i++) {
                        -   const elem = repositories[i];
                        .repo(repo-indent=elem.repo_indent account-indent=elem.account_indent)
                            a.repo_url(href=elem.html_url) #{elem.name}
                            img(src="/public/img/remove.svg", alt="remove", title="удалить").removeBtn
                        -}
                    a#create_new_repo(href='/creating_repo') создать новый
                .main_info
                .account_block
                    H3 Аккаунты:
                    if !accounts || !Object.keys(accounts).length
                        p аккаунты не найдены, попробуйте добавить
                    else 
                        each account in accounts
                            span.account(data=`${account.id}`)
                                b= account.account_type
                                | 
                                b= account.username
                    details
                        summary
                            | Добавить аккаунт
                        details-menu
                            form(action="/api/new_account" method="post").inputForm
                                mixin inputblock(name, pattern)
                                    p #{name}:
                                    input(type=name, name=name, placeholder=`Type ${name}`, required='required', pattern=`${pattern}`)
                                +inputblock('username', '.+')
                                +inputblock('password', '.+')
                                p
                                    input(type="radio" name="account_type" value="github" id='github_radio') 
                                    label(for="github_radio") Github
                                    input(type="radio" name="account_type" value="bitbucket" id='bitbucket_radio') 
                                    label(for="bitbucket_radio") Bitbucket
                                    
                                input(type='submit' value="Добавить").welcome
