doctype html
html(lang="ru")
  head
    include modules/meta
    <meta name="referrer" content="none">
    link(rel="stylesheet", href="/public/css/style.css")
    
    link(rel="stylesheet", href="/public/css/modules/input.css")
    
    script(type='module', src='/public/js/signin_validator.js')

  body
    include modules/header 
    main
      .main_inner.space_around_inner
        .inputForm.white_block 
          H2 Вхождение
          div.inputForm
            mixin inputblock(name, pattern)
              input(id=name, type=name, name=name, placeholder=`Type ${name}`, required='required', pattern=`${pattern}`)
              span(id=`${name}Error` aria-live="polite")
            p Email
            +inputblock('email', '.+@.+\\..+')
            p Password
            +inputblock('password', '.{5,50}')
            button#submit(class="welcome with_top_margin with_bottom_margin") Войти
            <span id="serverError" aria-live="polite"></span>


